# IF THIS FILE HAS A .template EXTENSION...
# If you haven't already done so, create a copy of this file with the same name but without the .template extension.
#
# OTHERWISE...
#
# THIS FILE IS FOR APPLICATION SECRETS! 
# It is excluded from the GitHub repo. Any secrets it contains will remain local to this machine.
#
# These environment variables are populated in all environments.
# 
# By default, environment variables are only available on the server side.
# If you prefix any of these variables with NEXT_PUBLIC_, you will expose it to the browser!
#
# Learn more about how this template handles environment variables at https://karmanivero.us/blog/nextjs-template/#environment-variables

# Populate with GitHub/GitLab personal access token to support release-it.
# GitHub: repo scope
# GitLab: api scope
GITHUB_TOKEN=
GITLAB_TOKEN=
